<div class="header">
    <h1>{{mapType}} Map</h1>
    <h6>Hover over {{viewType}} for more details</h6>
</div>

<div class="map-stats">
    <div class="stats red focused" ng-click="mapStatsClick($event , 'confirmed')">
        <h5>Confirmed</h5>
        <div class="stats-bottom">
            <h1>{{totalStatsData.confirmed | number }}</h1>
        </div>
    </div>
    <div class="stats blue" ng-click="mapStatsClick($event , 'active')">
        <h5>Active</h5>
        <div class="stats-bottom">
            <h1>{{totalStatsData.active | number }}</h1>
        </div>
    </div>
    <div class="stats green" ng-click="mapStatsClick($event, 'recovered')">
        <h5>Recovered</h5>
        <div class="stats-bottom">
            <h1>{{totalStatsData.recovered | number }}</h1>
        </div>
    </div>
    <div class="stats gray" ng-click="mapStatsClick($event, viewType === 'states' ? 'deaths' : 'deceased' )">
        <h5>Deceased</h5>
        <div class="stats-bottom">
            <h1>{{totalStatsData.deaths || totalStatsData.deceased  | number }}</h1>
        </div>
    </div>
    <div class="stats purple">
        <h5>Tested</h5>
        <div class="stats-bottom">
            <h1>{{totalTested | number }}</h1>
            <h6 class="timestamp">As of {{totalTestedTimestamp | timeStamp}}</h6>
        </div>
    </div>
</div>