<div class="map-stats">
    <div class="stats red focused">
        <h5>Confirmed</h5>
        <div class="stats-bottom">
            <h1>1,02,564</h1>
        </div>
    </div>
    <div class="stats blue">
        <h5>Active</h5>
        <div class="stats-bottom">
            <h1>59,715</h1>
        </div>
    </div>
    <div class="stats green">
        <h5>Recovered</h5>
        <div class="stats-bottom">
            <h1>39,674</h1>
        </div>
    </div>
    <div class="stats gray">
        <h5>Deceased</h5>
        <div class="stats-bottom">
            <h1>3,169</h1>
        </div>
    </div>
    <div class="stats purple">
        <h5>Tested</h5>
        <div class="stats-bottom">
            <h1>24,04,267</h1>
        </div>
    </div>
</div>